* {
    margin: 0;
    padding: 0;
    font-family: "Consolas";
}
body {
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.hoverCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 480px;
    border-radius: 30px;
    background: #191919;
    overflow: hidden;
}
.hoverCard::before {
    background: blue;
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    transition: 0.5s;
}

.hoverCard .mainImg {
    opacity: 0.25;
    height: 160px;
    width: 160px;
    transition: 0.5s;
    margin: 10;
    margin-top: 50%;
}
.hoverCard .mainText {
    opacity: 0;
    color: blue;
    margin-top: 0%;
    transition: 0.5s;
}
.hoverCard .subText {
    opacity: 0;
    color: blue;
    margin-top: 0%;
    transition: 0.5s;
}


.mainImg:hover {
    transform: scale(1.5);
    opacity: 1;
    margin-top: 30%;
}
.mainImg:hover ~ .mainText {
    margin-top: 20%;
    opacity: 1;
}
.mainImg:hover ~ .subText {
    margin-top: 25%;
    opacity: 1;
}
