/* For all text */
/* Text CSS */
#text_css {
    color: #6d1ba1;
    font-family: Consolas;
}

/* ------------------------------------------------------------ */

/* For the footer (bottom) of the page */
/* Makes a area for the footer stuff */
#footer_css {
    background-color: #202020;
    color: #6d1ba1;
    font-family: Consolas;
}

/* ------------------------------------------------------------ */

/* For Navigation Buttons */
/* <a> tag */
.nav_foot a {
    padding: 12px 20px;
    border-right: 1px solid rgba(0, 0, 0, .3);
    background: #000000;
    color: #6d1ba1;
    text-decoration: none;
}

/* For when a cursor hovers over the button */
.nav_foot a:hover {
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
    background: #6d1ba1;
    color: #A020F0;
}

/* <ul> tag */
.nav_foot ul {
    margin: 0;
    padding: 0;
    font: consolas;
    text-transform: uppercase;
}

/* <li> tag */
.nav_foot li {
  display: inline-block;
}

/* Honestly, no idea what these do */
.nav_foot li:first-child a {
  border-radius: 4px 0 0 4px;
}

.nav_foot li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}
